<%- include('./head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

<body>
    <%- include('./navbar.ejs') %>


    <div class="containerStory">

        <div class="row completeStory">

            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Temática: @Tags</p>
                        <p>Autor: @NOMBREAUTOR</p>
                        <p>Fecha de publicación: <%= story[0].uploaded_date %> EDITAR??</p>
                        <p>Contribuidores: @NOMBREAUTOR GENERADOS AUTOMATICAMENTE</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 storyTitle">
                        <p> <center> <%= story[0].title %> </center></p><hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 storyCompleteBody">
                        <p><%= story[0].body %> </p><hr>
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 sectionBody">
                        <% if (sections) { %>
                            <% for (let section of sections) { %>    

                                <p ><%= section.body %></p>
                                <hr class="d-sm-none"> 

                            <% } %> 
                        <% } %>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 storyBody">
                        <%- include('./addSectionModal.ejs') %>
                    </div>
                </div>

            </div>

    

            <div class="col-sm-3">


            </div>
            










        </div>











    </div>













    <%- include('./footer.ejs') %>    
    <%- include('./end.ejs') %>